<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TurnKey - Snehal ACR Turnkey Pvt. Ltd.</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@700;800&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <!-- Libraries Stylesheet -->
    <link href="~/Style2/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Style2/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Style2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Style2/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->
    <!-- Topbar Start -->
    <div class="container-fluid bg-primary text-white d-none d-lg-flex wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-3">
            <div class="d-flex align-items-center">
                <a href="index.html">
                    <h2 class="text-white fw-bold m-0">TurnKey</h2>
                </a>
                <div class="ms-auto d-flex align-items-center">
                    <small class="ms-4">
                        <i class="fa fa-map-marker-alt me-3"></i>A-158,
                        Wagle Indl. Thane-Maharshtra - 400604
                    </small>
                    <small class="ms-4"><i class="fa fa-envelope me-3"></i>account2@snehalacr.com</small>
                    <small class="ms-4"><i class="fa fa-phone-alt me-3"></i>+91 22 4068 1414 / 15</small>
                    <div class="ms-3 d-flex">
                        <a class="btn btn-sm-square btn-light text-primary ms-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-sm-square btn-light text-primary ms-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-sm-square btn-light text-primary ms-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid bg-white sticky-top wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light p-lg-0">
                <a href="index.html" class="navbar-brand d-lg-none">
                    <h1 class="fw-bold m-0">TurnKey</h1>
                </a>
                <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a asp-controller="Home" asp-action="Index" class="nav-item nav-link">Home</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Who We Are</a>
                            <div class="dropdown-menu bg-light rounded-0 rounded-bottom m-0">
                               
                                <a asp-controller="Home" asp-action="AboutUs" class="dropdown-item">About</a>
                                <a asp-controller="Home" asp-action="OurTeam" class="dropdown-item">Our Team</a>
                               
                                <a asp-controller="Home" asp-action="Project" class="dropdown-item">Our Projects</a>
                                
                            </div>
                        </div>
                        <a asp-controller="Home" asp-action="OurServices" class="nav-item nav-link active">Services</a>
                      
                        <a asp-controller="Home" asp-action="ContactUs" class="nav-item nav-link">Contact</a>
                    </div>
                    <div class="ms-auto d-none d-lg-block">
                        <a href="" class="btn btn-primary py-2 px-3">Get A Quote</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Footer Start -->
    <div class="container-fluid bg-dark footer py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-uppercase text-light mb-4">Our Office</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i> E-72, GIDC, Electronic Estate, Sector 26, Gandhinagar – 382028, Gujarat, India</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary me-3"></i> +91 79 23287153 / 54</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i> snehal2@snehalacr.com</p>
                    <div class="d-flex pt-3">
                        <a class="btn btn-square btn-light me-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-light me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-light me-2" href="#"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-light me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-uppercase text-light mb-4">Quick Links</h5>
                    <a class="btn btn-link" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="btn btn-link" asp-controller="Home" asp-action="AboutUs">About Us</a>
                    <a class="btn btn-link" asp-controller="Home" asp-action="OurServices">Our Services</a>
                    <a class="btn btn-link" asp-controller="Home" asp-action="OurTeam">Our Team</a>
                    <a class="btn btn-link" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-uppercase text-light mb-4">Business Hours</h5>
                    <p class="text-uppercase mb-0">Monday - Friday</p>
                    <p>09:00 am - 07:00 pm</p>
                    <p class="text-uppercase mb-0">Saturday</p>
                    <p>09:00 am - 12:00 pm</p>
                    <p class="text-uppercase mb-0">Sunday</p>
                    <p>Closed</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-uppercase text-light mb-4">Gallery</h5>
                    <div class="row g-1">
                        <div class="col-4">
                            <img class="img-fluid" src="~/Style2/img/service-1.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid" src="~/Style2/img/service-2.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid" src="~/Style2/img/service-3.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid" src="~/Style2/img/service-4.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid" src="~/Style2/img/service-5.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid" src="~/Style2/img/service-6.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Copyright Start -->
    <div class="container-fluid text-body copyright py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="fw-semi-bold" href="#">Your Site Name</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                    <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                    <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                    Designed By <a class="fw-semi-bold" href="https://htmlcodex.com">HTML Codex</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top">
        <i class="bi bi-arrow-up"></i>
    </a>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Style2/lib/wow/wow.min.js"></script>
    <script src="~/Style2/lib/easing/easing.min.js"></script>
    <script src="~/Style2/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Style2/lib/counterup/counterup.min.js"></script>
    <script src="~/Style2/lib/owlcarousel/owl.carousel.min.js"></script>
    
    <!-- Template Javascript -->
    <script src="~/style2/js/main.js"></script>
</body>
</html>
