@{
    Layout = "~/Views/Shared/_LayoutTurnkeypages.cshtml";
    ViewData["Title"] = "Our Services";
}


<!-- Page Header Start -->
<div class="container-fluid page-header pt-5 mb-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="bg-white p-5">
                    <h1 class="display-6 text-uppercase mb-3 animated slideInDown">Services</h1>
                    <nav aria-label="breadcrumb animated slideInDown">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item" aria-current="page">Services</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Manufacturing Page -->
<div class="container-fluid pt-6 pb-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img">
                    <img class="img-fluid w-100" src="~/Style2/img/service-3.jpg" alt="Manufacturing">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-6 text-uppercase mb-4">Our Services - Manufacturing</h1>
                <p class="mb-4">
                    In the manufacturing phase, we transform designs into reality. Our services include:
                </p>
                <div class="row g-5 mb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 btn-xl-square bg-light me-3">
                                <i class="fa fa-industry fa-2x text-primary"></i>
                            </div>
                            <h5 class="lh-base text-uppercase mb-0">Precision Production</h5>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 btn-xl-square bg-light me-3">
                                <i class="fa fa-box-open fa-2x text-primary"></i>
                            </div>
                            <h5 class="lh-base text-uppercase mb-0">Safe Packaging & Logistics</h5>
                        </div>
                    </div>
                </div>
                <p><i class="fa fa-check-square text-primary me-3"></i><strong>Precision manufacturing:</strong> Using cutting-edge tools for high-quality, accurately built HVAC systems.</p>
                <p><i class="fa fa-check-square text-primary me-3"></i><strong>Quality control and testing:</strong> Strict inspection protocols to ensure top performance and reliability.</p>
                <p><i class="fa fa-check-square text-primary me-3"></i><strong>Customized packaging and shipping:</strong> Safe handling and delivery for efficient installation.</p>
                <p><i class="fa fa-check-square text-primary me-3"></i><strong>Manufacturing project management:</strong> Coordination for on-time production and site readiness.</p>
                <p><i class="fa fa-check-square text-primary me-3"></i><strong>Continuous support and communication:</strong> Transparent communication to resolve concerns swiftly.</p>
                <div class="border border-5 border-primary p-4 text-center mt-4">
                    <h4 class="lh-base text-uppercase mb-0">Delivering Engineered Precision with Manufacturing Excellence</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Our Clients Start -->
<div class="container-fluid bg-light pt-6 pb-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h1 class="display-6 text-uppercase">Our Valued Clients</h1>
            <p>Trusted by leading pharmaceutical and healthcare companies across India and the world.</p>
        </div>
        <div class="owl-carousel client-carousel text-center">
            <!-- Example Logo Format -->
            <div class="p-3">
                <img src="~/Style2/img/testimonial-1.jpg" class="img-fluid mb-2" style="max-height: 60px;" alt="Alembic">
                <h6 class="text-uppercase">Alembic</h6>
            </div>
            <div class="p-3">
                <img src="~/Style2/img/clients/acg.png" class="img-fluid mb-2" style="max-height: 60px;" alt="ACG">
                <h6 class="text-uppercase">ACG</h6>
            </div>
            <div class="p-3">
                <img src="~/Style2/img/clients/ajanta.png" class="img-fluid mb-2" style="max-height: 60px;" alt="Ajanta Pharma">
                <h6 class="text-uppercase">Ajanta Pharma</h6>
            </div>
            <div class="p-3">
                <img src="~/Style2/img/clients/emcure.png" class="img-fluid mb-2" style="max-height: 60px;" alt="Emcure">
                <h6 class="text-uppercase">Emcure</h6>
            </div>
            <div class="p-3">
                <img src="~/Style2/img/clients/glenmark.png" class="img-fluid mb-2" style="max-height: 60px;" alt="Glenmark">
                <h6 class="text-uppercase">Glenmark</h6>
            </div>
            <div class="p-3">
                <img src="~/Style2/img/clients/intas.png" class="img-fluid mb-2" style="max-height: 60px;" alt="Intas">
                <h6 class="text-uppercase">Intas</h6>
            </div>
            <div class="p-3">
                <img src="~/Style2/img/clients/lupin.png" class="img-fluid mb-2" style="max-height: 60px;" alt="Lupin">
                <h6 class="text-uppercase">Lupin</h6>
            </div>
            <div class="p-3">
                <img src="~/Style2/img/clients/macleods.png" class="img-fluid mb-2" style="max-height: 60px;" alt="Macleods">
                <h6 class="text-uppercase">Macleods</h6>
            </div>
            <div class="p-3">
                <img src="~/Style2/img/clients/mankind.png" class="img-fluid mb-2" style="max-height: 60px;" alt="Mankind">
                <h6 class="text-uppercase">Mankind</h6>
            </div>
            <div class="p-3">
                <img src="~/Style2/img/clients/sunpharma.png" class="img-fluid mb-2" style="max-height: 60px;" alt="Sun Pharma">
                <h6 class="text-uppercase">Sun Pharma</h6>
            </div>
            <div class="p-3">
                <img src="~/Style2/img/clients/torrent.png" class="img-fluid mb-2" style="max-height: 60px;" alt="Torrent Pharma">
                <h6 class="text-uppercase">Torrent</h6>
            </div>
            <div class="p-3">
                <img src="~/Style2/img/clients/zydus.png" class="img-fluid mb-2" style="max-height: 60px;" alt="Zydus">
                <h6 class="text-uppercase">Zydus</h6>
            </div>
            <!-- International -->
            <div class="p-3">
                <img src="~/Style2/img/clients/medisel.png" class="img-fluid mb-2" style="max-height: 60px;" alt="Medisel Kenya">
                <h6 class="text-uppercase">Medisel Kenya</h6>
            </div>
            <div class="p-3">
                <img src="~/Style2/img/clients/emzor.png" class="img-fluid mb-2" style="max-height: 60px;" alt="Emzor Nigeria">
                <h6 class="text-uppercase">Emzor Nigeria</h6>
            </div>
            <div class="p-3">
                <img src="~/Style2/img/clients/saidal.png" class="img-fluid mb-2" style="max-height: 60px;" alt="Saidal Algeria">
                <h6 class="text-uppercase">Saidal Algeria</h6>
            </div>
            <div class="p-3">
                <img src="~/Style2/img/clients/pharco.png" class="img-fluid mb-2" style="max-height: 60px;" alt="Pharco Egypt">
                <h6 class="text-uppercase">Pharco Egypt</h6>
            </div>
            <div class="p-3">
                <img src="~/Style2/img/clients/aegis.png" class="img-fluid mb-2" style="max-height: 60px;" alt="Aegis Jordan">
                <h6 class="text-uppercase">Aegis Jordan</h6>
            </div>
            <div class="p-3">
                <img src="~/Style2/img/clients/ajantamauritius.png" class="img-fluid mb-2" style="max-height: 60px;" alt="Ajanta Mauritius">
                <h6 class="text-uppercase">Ajanta Mauritius</h6>
            </div>
            <div class="p-3">
                <img src="~/Style2/img/clients/kiara.png" class="img-fluid mb-2" style="max-height: 60px;" alt="Kiara Nigeria">
                <h6 class="text-uppercase">Kiara Nigeria</h6>
            </div>
            <div class="p-3">
                <img src="~/Style2/img/clients/alpha.png" class="img-fluid mb-2" style="max-height: 60px;" alt="Alpha Pharma Dubai">
                <h6 class="text-uppercase">Alpha Pharma Dubai</h6>
            </div>
        </div>
    </div>
</div>
<!-- Our Clients End -->
