@{
    Layout = "~/Views/Shared/_LayoutTurnkey.cshtml";
    ViewData["Title"] = "Our Team";
}
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Our Team</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-primary">Team</li>
        </ol>
    </div>
</div>
<!-- Header End -->
<!-- Team Start -->
<div class="container-fluid team py-5">
    <div class="container py-5">
        <div class="d-flex flex-column mx-auto text-center mb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Our Team</h4>
            <h1 class="display-4 mb-4">Electricity Service offerings</h1>
            <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, deserunt provident ab voluptates rerum eaque eum magni autem atque in minus laboriosam corrupti deleniti voluptatibus rem reiciendis modi veniam animi?
            </p>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/img/team-1.jpg" class="img-fluid w-100" alt="">
                        <div class="team-icon">
                            <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="team-content bg-light text-center p-4">
                        <h4>Shoaib Bashir</h4>
                        <p class="mb-0">Profession</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/img/team-2.jpg" class="img-fluid w-100" alt="">
                        <div class="team-icon">
                            <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="team-content bg-light text-center p-4">
                        <h4>Shoaib Bashir</h4>
                        <p class="mb-0">Profession</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/img/team-3.jpg" class="img-fluid w-100" alt="">
                        <div class="team-icon">
                            <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="team-content bg-light text-center p-4">
                        <h4>Shoaib Bashir</h4>
                        <p class="mb-0">Profession</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/img/team-4.jpg" class="img-fluid w-100" alt="">
                        <div class="team-icon">
                            <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="team-content bg-light text-center p-4">
                        <h4>Shoaib Bashir</h4>
                        <p class="mb-0">Profession</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->