@{
    Layout = "~/Views/Shared/_LayoutTurnkey.cshtml";
    ViewData["Title"] = "Our Services";
}

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Our Projects</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-primary">Project</li>
        </ol>
    </div>
</div>
<!-- Header End -->
<!-- Projects Start -->
<div class="container-fluid projects bg-light py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.2s">
                <div>
                    <h4 class="text-primary">Our Projects</h4>
                    <h1 class="">Successfully Designed, Manufactured & Installed</h1>
                    <p class="mb-5">
                        Discover some of our key turnkey project executions across the pharmaceutical and healthcare industries—ranging from HVAC, cleanrooms, and compliant installations to complete validation services.
                    </p>
                    <ul class="nav">
                        <li class="nav-item bg-white mb-4 w-100">
                            <a class="d-flex align-items-center h4 mb-0 p-3 active" data-bs-toggle="pill" href="#ProjectsTab-1">
                                <div class="projects-icon btn-md-square bg-primary text-white me-3"><span class="fas fa-industry small"></span></div><span>ZYDUS CADILA HEALTHCARE LTD – Ahmedabad</span>
                            </a>
                        </li>
                        <li class="nav-item bg-white mb-4 w-100">
                            <a class="d-flex align-items-center h4 mb-0 p-3" data-bs-toggle="pill" href="#ProjectsTab-2">
                                <div class="projects-icon btn-md-square bg-primary text-white me-3"><span class="fas fa-capsules small"></span></div><span>
                                    GELCAPS INDUSTRIES LTD. -Naidupeta
                                </span>
                            </a>
                        </li>
                        <li class="nav-item bg-white mb-4 w-100">
                            <a class="d-flex align-items-center h4 mb-0 p-3" data-bs-toggle="pill" href="#ProjectsTab-3">
                                <div class="projects-icon btn-md-square bg-primary text-white me-3"><span class="fas fa-vial small"></span></div><span>
                                    PFIZER INDIA LTD. -
                                    Navi Mumbai
                                </span>
                            </a>
                        </li>
                        <li class="nav-item bg-white mb-4 w-100">
                            <a class="d-flex align-items-center h4 mb-0 p-3" data-bs-toggle="pill" href="#ProjectsTab-4">
                                <div class="projects-icon btn-md-square bg-primary text-white me-3"><span class="fas fa-pills small"></span></div><span>
                                    ZYDUS HOSPITAL -
                                    Ahmedabad
                                </span>
                            </a>
                        </li>
                        <li class="nav-item bg-white mb-4 w-100">
                            <a class="d-flex align-items-center h4 mb-0 p-3" data-bs-toggle="pill" href="#ProjectsTab-5">
                                <div class="projects-icon btn-md-square bg-primary text-white me-3"><span class="fas fa-warehouse small"></span></div><span>
                                    KLES HOSPITAL -
                                    Belgaum
                                </span>
                            </a>
                        </li>
                        <li class="nav-item bg-white mb-4 w-100">
                            <a class="d-flex align-items-center h4 mb-0 p-3" data-bs-toggle="pill" href="#ProjectsTab-6">
                                <div class="projects-icon btn-md-square bg-primary text-white me-3"><span class="fas fa-clinic-medical small"></span></div><span>
                                    GLENMARK PHARMACEUTICALS -
                                    Baddi, HP
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.2s">
                <div class="tab-content">
                    <!-- Project 1 -->
                    <div id="ProjectsTab-1" class="tab-pane fade show p-0 active">
                        <div class="projects-item">
                            <img src="~/img/industrial-1.jpg" class="img-fluid w-100" alt="">
                            <div class="projects-content bg-white p-4">
                                <h4 class="mb-3">
                                    ZYDUS CADILA HEALTHCARE LTD.,
                                    Ahmedabad
                                </h4>
                                <p class="mb-4">
                                    Successfully installed advanced
                                    HVAC systems for 14 different
                                    projects.
                                </p>
                                <h4>Project Highlights:</h4>
                                <ul>
                                    <li>Biotechnology facilities</li>
                                    <li> Vaccine manufacturing facilities </li>
                                    <li>Pharmaceutical cleanrooms</li>
                                    <li>Precise temperature control (±0.5°C) and Humidity control (±5%)</li>
                                    <li>High-efficiency air filtration</li>
                                   
                                </ul>
                                <h4>Scope:</h4>
                                <ul>
                                    <li>Design and installation of custom HVAC systems</li>
                                    <li>Supply and commissioning of specialized equipment</li>
                                    <li>Integration with existing infrastructure</li>
                                </ul>
                                <a class="btn btn-primary py-2 px-4" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Project 2 -->
                    <div id="ProjectsTab-2" class="tab-pane fade p-0">
                        <div class="projects-item">
                            <img src="~/img/industrial-2.jpg" class="img-fluid w-100" alt="">
                            <div class="projects-content bg-white p-4">
                                <h4 class="mb-3">
                                    GELCAPS INDUSTRIES LTD.,
                                    Naidupeta
                                </h4>
                                <p class="mb-4">
                                    Successfully designed,
                                    manufactured, and installed
                                    critically low Relative Humidity
                                    (RH) systems for Hard Gelatin
                                    Capsules.
                                </p>
                                <h4>Project Highlights:</h4>
                                <ul>
                                    <li>
                                        Utilized Variable
                                        Refrigerant Flow (VRF)
                                        Systems
                                    </li>
                                    <li>
                                        Critically low RH control
                                        for sensitive pharmaceutical
                                        applications
                                    </li>
                                    <li>
                                        Innovative and patented
                                        system design
                                    </li>
                                    

                                </ul>
                                <h4>Scope:</h4>
                                <ul>
                                    <li>
                                        Design and manufacturing of
                                        custom RH systems
                                    </li>
                                    <li>
                                        Installation and integration
                                        with existing infrastructure
                                    </li>
                                    
                                </ul>
                                <a class="btn btn-primary py-2 px-4" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Project 3 -->
                    <div id="ProjectsTab-3" class="tab-pane fade p-0">
                        <div class="projects-item">
                            <img src="~/img/commercial-1.jpg" class="img-fluid w-100" alt="">
                            <div class="projects-content bg-white p-4">
                                <h4 class="mb-3">
                                    PFIZER INDIA LTD.,
                                    Navi Mumbai
                                </h4>
                                <p class="mb-4">
                                    Successfully designed,
                                    manufactured, supplied,
                                    installed, and commissioned a
                                    comprehensive HVAC system for
                                    Formulation and Bulk Drug units
                                    in Navi Mumbai.
                                </p>
                                <h4>Project Highlights:</h4>
                                <ul>
                                    <li>
                                        4 x 150TR chillers (600TR
                                        total)
                                    </li>
                                    <li>
                                        Multiple Air Handling Units
                                        (AHUs)
                                    </li>
                                    <li>
                                        Complete low-side system
                                        (ductwork, piping,
                                        insulation)
                                    </li>
                                    <li>
                                        Electrical work (power
                                        distribution, control
                                        panels, wiring)
                                    </li>

                                </ul>
                               
                                <a class="btn btn-primary py-2 px-4" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Project 4 -->
                    <div id="ProjectsTab-4" class="tab-pane fade p-0">
                        <div class="projects-item">
                            <img src="~/img/commercial-2.jpg" class="img-fluid w-100" alt="">
                            <div class="projects-content bg-white p-4">
                                <h4 class="mb-3">
                                    ZYDUS HOSPITAL,
                                    Ahmedabad
                                </h4>
                                <p class="mb-4">
                                    Successfully supplied and
                                    installed HVAC system for a 300-
                                    bed super-specialty hospital in
                                    Ahmedabad, Gujarat.
                                </p>
                                <h4>Project Highlights:</h4>
                                <ul>
                                    <li>
                                        1000 TR Screw Chilling
                                        Systems
                                    </li>
                                    <li>
                                        90 Air Handling Units
                                    </li>
                                    <li>
                                        70 Fan Coil Units
                                    </li>
                                    <li>35 Cassette Units</li>

                                </ul>
                                <h4>Scope:</h4>
                                <ul>
                                    <li>
                                        Complete high-side
                                        installation
                                    </li>
                                    <li>
                                        Low-side supply,
                                        installation, and validation
                                    </li>
                                    <li>
                                        Classified areas compliance
                                        (ICU, OT, ICCU, etc.)
                                    </li>
                                </ul>
                                <a class="btn btn-primary py-2 px-4" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Project 5 -->
                    <div id="ProjectsTab-5" class="tab-pane fade p-0">
                        <div class="projects-item">
                            <img src="~/img/industrial-1.jpg" class="img-fluid w-100" alt="">
                            <div class="projects-content bg-white p-4">
                                <h4 class="mb-3">
                                    KLES HOSPITAL,
                                    Belgaum
                                </h4>
                                <p class="mb-4">
                                    Successfully designed, manufactured,
                                    supplied, installed, and commissioned
                                    water chilling systems with low-side
                                    work for a premier healthcare
                                    facility.
                                </p>
                                <h4>Project Highlights:</h4>
                                <ul>
                                    <li>
                                        Water chilling systems for critical
                                        applications
                                    </li>
                                    <li>
                                        Operation Theatres
                                    </li>
                                    <li>
                                        Cancer and Liver Transplant wards-
                                        Innovative condenser water cooling
                                        system utilizing aesthetic front
                                        courtyard fountains
                                    </li>


                                </ul>
                                <h4>Scope:</h4>
                                <ul>
                                    <li>
                                        Design and manufacturing of water
                                        chilling systems
                                    </li>
                                    <li>
                                        Supply, installation, and
                                        commissioning
                                    </li>
                                    <li>Low-side work, including ductwork, piping, and insulation.</li>
                                </ul>
                                <a class="btn btn-primary py-2 px-4" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Project 6 -->
                    <div id="ProjectsTab-6" class="tab-pane fade p-0">
                        <div class="projects-item">
                            <img src="~/img/industrial-2.jpg" class="img-fluid w-100" alt="">
                            <div class="projects-content bg-white p-4">
                                <h4 class="mb-3">
                                    GLENMARK PHARMACEUTICALS,
                                    Baddi, HP
                                </h4>
                                <p class="mb-4">
                                    Successfully designed,
                                    manufactured, supplied, installed,
                                    and commissioned a comprehensive
                                    HVAC system.
                                </p>
                                <h4>Project Highlights:</h4>
                                <ul>
                                    <li>
                                        3 x 250TR chillers (750TR total)
                                    </li>
                                    <li>
                                        Multiple Air Handling Units
                                        (AHUs)
                                    </li>
                                    <li>
                                        Complete low-side system,
                                        including ductwork, piping, and
                                        insulation
                                    </li>
                                    <li>
                                        Electrical work, including power
                                        distribution, control panels,
                                        and wiring
                                    </li>

                                </ul>
                                <h4>Scope:</h4>
                                <ul>
                                    <li>
                                        Design and manufacturing of HVAC
                                        system components
                                    </li>
                                    <li>
                                        Supply and installation of
                                        chillers, AHUs, and low-side equipment
                                    </li>
                                    <li>Testing, validation, and commissioning</li>
                                </ul>
                                <a class="btn btn-primary py-2 px-4" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Projects End -->
<!-- Major Projects Table Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 700px;">
            <h4 class="text-primary">Other Major Projects</h4>
            <h1 class="display-6 text-uppercase">Executed with Engineering Excellence</h1>
            <p class="mt-3">A glimpse of some other major HVAC and turnkey projects successfully executed by Snehal Turnkey Solutions Pvt. Ltd. across India.</p>
        </div>
        <div class="table-responsive wow fadeInUp" data-wow-delay="0.2s">
            <table class="table table-bordered table-striped align-middle text-start">
                <thead class="table-primary text-uppercase">
                    <tr>
                        <th scope="col">Client</th>
                        <th scope="col">Project Description</th>
                        <th scope="col">Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Zydus Cadila Healthcare Ltd.</td>
                        <td>Multiple contracts for VTC Hormone Tableting, DPT, ASRA, Fill Finish, and more.</td>
                        <td>Ahmedabad</td>
                    </tr>
                    <tr>
                        <td>USV Ltd</td>
                        <td>Multiple chilling plants with low side work; over 56 AHUs for Bulk Drugs, Formulations & Orals.</td>
                        <td>Daman, Chiplun & Baddi</td>
                    </tr>
                    <tr>
                        <td>Medley Pharmaceuticals Ltd</td>
                        <td>Multiple chilling plants with low side work for Orals, Formulations & Liquids.</td>
                        <td>Jammu & Daman</td>
                    </tr>
                    <tr>
                        <td>Hindustan Antibiotics Ltd</td>
                        <td>Facilities for manufacturing Dry Syrups, Cephalosporins & Dry Powder Injectables.</td>
                        <td>Pimpri, Pune</td>
                    </tr>
                    <tr>
                        <td>Meril Life Sciences</td>
                        <td>HVAC solutions for manufacturing unit of Endo Surgery Equipment.</td>
                        <td>Vapi</td>
                    </tr>
                    <tr>
                        <td>E-Merck India Ltd</td>
                        <td>Brine chilling plant with drying tunnel (12% RH) for soft gelatin capsuling and 300 TR chilling plant for pharma facility.</td>
                        <td>Goa & Taloja</td>
                    </tr>
                    <tr>
                        <td>Reliance Industries Ltd</td>
                        <td>Air-conditioning & ventilation solutions for petrochemical plant.</td>
                        <td>Dahej, Gujarat</td>
                    </tr>
                    <tr>
                        <td>Manga Capsules Ltd</td>
                        <td>450 TR brine chilling plant for soft gelatin manufacturing unit.</td>
                        <td>Nasik</td>
                    </tr>
                    <tr>
                        <td>Aristo Laboratories</td>
                        <td>680 TR brine chilling plant for injectables unit.</td>
                        <td>Daman</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Major Projects Table End -->
